main {
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: -1rem 0 1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 90%;
  height: calc(100vh - 1rem);
  text-align: center;
  min-height: 100vh;
}
