@use "../abstract/_variables";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 0 1rem 0;
  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    img {
      padding: 0.5rem;
    }
    a {
      text-decoration: none;
      font-size: 3rem;
      padding: 1rem;
      &:visited {
        color: black;
      }
    }
  }
  &-links {
    display: flex;
    list-style: none;
    li {
      opacity: 0.9;
      font-size: 3rem;
      margin: 0 1rem 0;
      padding: 0 1rem 0;
      cursor: pointer;
    }
  }
  &-user {
    display: flex;
    flex-direction: row;
    &-field {
      display: flex;
      flex-direction: column;
      &_links {
        display: flex;
        flex-direction: row;
        &__button {

        }
      }
      &_info {
        display: flex;
        flex-direction: column;
      }
    }
    &-icon {
      margin-left: auto;
    }
  }
  
  button {
    background-color: transparent;
    border: none;
    color: #ff3b3b;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    background: linear-gradient(
      198deg,
      variables.$color-light-pink 48%,
      variables.$color-light-blue 100%
    );
    border-radius: 1rem;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    &:hover {
      border: 1px solid black;
    }
  }

  .left-img {
    &:hover {
      transform: translateX(-1rem);
    }
    &:active {
      transform: translateX(-1rem) scale(0.95); /* add transform property */
    }
  }
  .right-img {
    &:hover {
      transform: translateX(1rem);
    }
    &:active {
      transform: translateX(1rem) scale(0.95); /* add transform property */
    }
  }
}