@use "../abstract/_variables";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 0 1rem 0;

  .navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    img {
      padding: 0.5rem;
    }
    a {
      text-decoration: none;
      font-size: 3rem;
      padding: 1rem;
      &:visited {
        color: black;
      }
    }
  }
  .navbar-links {
    display: flex;
    list-style: none;
    li {
      opacity: 0.9;
      font-size: 3rem;
      margin: 0 1rem 0;
      padding: 0 1rem 0;
      cursor: pointer;
    }
  }
  .navbar-user {
    display: flex;
  }
  .navbar-user-container {
    align-self: center;
  }
  .navbar-user-link {
    margin: 0 0.5rem 0;
  }

  .navbar-user-info {
  }

  .navbar-user-icon {
    align-self: space-between;
  }

  button {
    background-color: transparent;
    border: none;
    color: #ff3b3b;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    background: linear-gradient(
      198deg,
      variables.$color-light-pink 48%,
      variables.$color-light-blue 100%
    );
    border-radius: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out; /* add transition property */
    &:hover {
      transform: scale(1.2) rotate(360deg); /* add transform property */
    }
  }
}
