section {
    
}

.section-form {
    display: flex;
    justify-content: center;
}

.section-auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-recent-links {

}