.btn {
  -webkit-border-radius: 41;
  -moz-border-radius: 41;
   border-radius: 10px;
  -webkit-box-shadow: 3px 1px 3px #666666;
  -moz-box-shadow: 3px 1px 3px #666666;
  box-shadow: 3px 1px 3px #333333;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 0px;
  text-decoration: none;
}

.btn:hover {
  background: #ff3b3b;
  text-decoration: none;
  transform: scale(1.05);
  transition: 0.5s; 
}

.btn:active {
  background: #806ebd;
    transform: scale(0.95);
    transition: 0.5s; 
}

.btn-dark {
  -webkit-border-radius: 41;
  -moz-border-radius: 41;
   border-radius: 10px;
  -webkit-box-shadow: 3px 1px 3px #666666;
  -moz-box-shadow: 3px 1px 3px #666666;
  box-shadow: 3px 1px 3px #333333;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  border: solid #000000 0px;
  text-decoration: none;
}

.btn-dark:hover {
  background: #ff3b3b;
  text-decoration: none;
  transform: scale(1.05);
  transition: 0.5s; 
}

.btn-dark:active {
  background: #806ebd;
    transform: scale(0.95);
    transition: 0.5s; 
}