.btn {
  border: solid #00000022 0.3rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5);
  color: #000000;
  font-size: 2rem;
  background: #ffffff;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}

.btn:hover {
  color: white;
  background: black;
  text-decoration: none;
  transform: scale(1.05);
  transition: 0.5s;
}

.btn:active {
  background: #806ebd;
  transform: scale(0.95);
  transition: 0.5s;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-slim {
  padding: 0 2rem 0 2rem;
  width: 50%;
}

.btn-copy {
}
