.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 40%;
  background-color: rgb(255, 255, 255);
   border-radius: 1rem 1rem 1rem 1rem;
  &-info_group {
    position: relative;
    width: 50%;
    :focus {
      outline: 0;
      border-image: linear-gradient(
        to right,
        rgb(211, 92, 224),
        rgb(120, 53, 253)
      );
      border-image-slice: 1;
    }
    :focus ~ .form-container-input_group__label,
    :not(:placeholder-shown) ~ .form-container-input_group__label {
      position: absolute;
      top: -1.3rem;
      display: block;
      transition: 0.2s;
      font-size: 1.2rem;
      color: black;
      font-weight: 700;
    }

    :required,
    :invalid {
      box-shadow: none;
    }
    ::placeholder {
      color: transparent;
    }
    &__input {
      border: 0;
      outline: 0;
      color: black;
      background: transparent;
      transition: border-color 0.2s;
      border-bottom: 0.2rem solid gray;
      font-size: 2rem;
      margin-top: 1rem;
      width: 100%;
    }
   
  }
  &-input_group {
    position: relative;
    width: 50%;
    :focus {
      outline: 0;
      border-image: linear-gradient(
        to right,
        rgb(211, 92, 224),
        rgb(120, 53, 253)
      );
      border-image-slice: 1;
    }
    :focus ~ .form-container-input_group__label,
    :not(:placeholder-shown) ~ .form-container-input_group__label {
      position: absolute;
      top: -1.5rem;
      display: block;
      transition: 0.2s;
      font-size: 1.2rem;
      color: black;
      font-weight: 700;
    }

    :required,
    :invalid {
      box-shadow: none;
    }
    ::placeholder {
      color: transparent;
    }
    &__input {
      border: 0;
      outline: 0;
      color: black;
      background: transparent;
      transition: border-color 0.2s;
      border-bottom: 0.2rem solid gray;
      font-size: 2rem;
      margin-top: 1rem;
      width: 100%;
    }
    &__label {
      margin-top: 1rem;
      position: absolute;
      top: -0.5rem;
      display: block;
      font-size: 2rem;
      transition: 0.2s;
      color: gray;
      font-weight: 700;
      cursor: text;
    }
  }
}

.form-container-link {
  border-radius: 1rem 1rem 0 0;
}

.form-auth-container-btn {
  margin-top: 1rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 40%;
}
