.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 1rem 1rem;
  &-info_group {
    position: relative;
    width: 50%;

    :focus {
      outline: 0;
      border-image: linear-gradient(
        to right,
        rgb(211, 92, 224),
        rgb(120, 53, 253)
      );
      border-image-slice: 1;
    }
    :focus ~ .form-container-input_group__label,
    :not(:placeholder-shown) ~ .form-container-input_group__label {
      position: absolute;
      top: -1.3rem;
      display: block;
      transition: 0.2s;
      font-size: 1.2rem;
      color: black;
      font-weight: 700;
    }

    :required,
    :invalid {
      box-shadow: none;
    }
    ::placeholder {
      color: transparent;
    }
    &__input {
      border: 0;
      outline: 0;
      color: black;
      background: transparent;
      transition: border-color 0.2s;
      border-bottom: 0.2rem solid gray;
      font-size: 2rem;
      margin-top: 1rem;
      width: 100%;
    }
    svg {
      position: absolute;
      margin-top: 1rem;
      padding: 0.4rem;
      border-radius: 0.5rem;
      color: rgb(130, 130, 130);
      right: 0;
      background-color: white;
    }
  }
  &-input_group {
    position: relative;
    width: 50%;
    :focus {
      outline: 0;
      border-image: linear-gradient(
        to right,
        rgb(211, 92, 224),
        rgb(120, 53, 253)
      );
      border-image-slice: 1;
    }
    :focus ~ .form-container-input_group__label,
    :not(:placeholder-shown) ~ .form-container-input_group__label {
      position: absolute;
      top: -1.5rem;
      display: block;
      transition: 0.2s;
      font-size: 1.2rem;
      color: rgba(50, 50, 50, 0.392);
      font-weight: 700;
    }
    ::placeholder {
      color: transparent;
    }
    &__input {
      border: 0;
      outline: 0;
      color: black;
      background: transparent;
      transition: border-color 0.2s;
      border-bottom: 0.2rem solid gray;
      font-size: 2rem;
      margin-top: 1.5rem;
      width: 100%;
    }
    &__label {
      margin-top: 1.5rem;
      position: absolute;
      top: 0rem;
      display: block;
      font-size: 2rem;
      transition: 0.2s;
      color: #570affb2;
      font-weight: 700;
      cursor: text;
    }
  }
}

.form-container-link {
  border-radius: 1rem 1rem 0 0;
}

.form-auth-container-btn {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 40%;
}

.authentication {
  &:valid {
        outline: 0;
        border-image: linear-gradient(
          to right,
          rgb(28, 106, 34),
          rgb(53, 253, 173)
        );
        border-image-slice: 1;
      }
      &:invalid:not(:placeholder-shown) {
        border-color: #ff3b3b;
        outline: 0;
        border-image: linear-gradient(
          to right,
          rgb(164, 29, 2),
          #ff3b3b
        );
        border-image-slice: 1;
      }
      &:invalid:not(:placeholder-shown) ~ .exclamation-icon {
        visibility: visible;
      }

      &:valid ~ .exclamation-icon {
        visibility: hidden;
      }
}