.google-icon {
  cursor: pointer;
  margin: 0 1rem 0;
  :hover {
    color: rgb(255, 255, 255);
  }
  :active {
    color: rgb(0, 0, 0);
  }
}

.copy-icon {
  cursor: pointer;
  transform-origin: 50% 50%;
  :hover {
    color: #ff3b3b;
    transition: 0.3s;
  }
  :active {
    color: rgb(120, 53, 253);
    transition: 0.2s;
  }
}

.copy-icon-recent {
  cursor: pointer;
  transform-origin: center;
  padding-left: 1rem;
  :hover {
    color: rgb(158, 92, 224);
    transition: 0.3s;
  }
  :active {
    color: rgb(120, 53, 253);
    transition: 0.2s;
  }
}

.exclamation-icon {
  color: red;
  position: absolute;
  top: 2rem;
  visibility: hidden;
}