.section-recent-links {
    display: flex;
    justify-content: center;
}

.recent-links-container {

    background-color: rgb(255, 255, 255);
    border-radius: 0 0 1rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 1rem solid rgba(0, 0, 0, 0.249);
    border-top: 0.5rem solid black;
    width: 40%;
    margin-bottom: 2rem;
}

.recent-links-ordered-list {
    color: rgb(0, 0, 0);
    list-style-type: none;
    li { 
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.236);
        margin-top: 1rem;
    }
}