.success {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.success-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 40%;
  background-color: rgba(32, 173, 86, 0.628);
  border-radius: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
}
